 <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">European American Ancestries</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#home">Home</a></li> -->
            <!--<li><a href="#about us">About Us</a></li>-->
            <!--<li><a href="#maps">Maps</a></li>-->
            <!--<li><a href="#ancestry profile">Ancestry Profile</a></li>-->
            <!--<li><a href="#culture id">Culture ID Card</a></li>-->
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Welcome to the European American Ancestry Maps Website </a></li>
                <li><a href="#">Social Media</a></li>
                <!-- <li><a href="#">Something else here</a></li> -->
                <!-- <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Mission Statement</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">How does this site work ?</a></li>
                <!-- <li role="separator" class="divider"></li> -->
                <!-- <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">USA and Europe Map</a></li>
                <li><a href="#">USA States and Europe Map</a></li>
                <li><a href="#">USA States and USA States Counties Map</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="#">List of Ancestry Profiles</a></li>
                <!-- <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ancestry Profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">European American Ancestry of USA Presidents</a></li>
                <li><a href="#">European American Celebritie's Ancestry Profile</a></li>
                <!-- <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Culture ID<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">From Ancestry Profile to the Culture ID Card</a></li>
                <!-- <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Game on USA States Ancestries</a></li>
                <li><a href="#">Game on USA States Counties Ancestries</a></li>
                <li><a href="#">Games on USA President's Ancestry</a></li>
                <li><a href="#">Games on USA Celebritie's Ancestry</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="#">States</a></li>
                <li><a href="#">Counties</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>